
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,300&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color:rebeccapurple;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; 
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;

}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

/* to make it flexible with mobile screen */
@media(max-width: 580px) {
  body {
    flex-direction: column;
  }
}